body{
    font-family: "Montserrat", sans-serif;
    background-color:  #302C42;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 50px 0;
    color: white;
}
body>*{ 
    max-inline-size: 78.5rem;
}
a{
    color: white;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;       /* all section of the page has atleast one h2 heading so i had to generalise the style for the heading (utility for heading)*/
}
main>section{
    margin-bottom: 4rem;     
}
main>section>div:nth-of-type(1){
    display: flex;
    gap: 1rem;
}
.btn{
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 11px;
    background-image: linear-gradient(#8176AF,#C0B7E8);
}
.h-span{
    font-size: 1.5rem;
    font-weight: 200;
}

/* Styling for the Hero Section */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-start{
    display: flex;
    gap: .5rem;
}
.nav-start>img:nth-of-type(2){
    align-self: center;
}
.nav-centre{
    display: flex;
    gap: 3rem;
    font-weight: 700;
    font-size: 11px;
}
.nav-end{
    display: flex;
    gap: 3rem;
    font-weight: 700;
    font-size: 11px;
}
.nav-end>li{
    padding: .5rem 1rem;
    border: 2px solid ;
    border-radius: 1.5rem;
}
.nav-end>li:nth-of-type(2){
    border: none;
    background-image: linear-gradient(#8176AF,#C0B7E8);
}
.nav-end>li:nth-of-type(2)>a{
    color: #343045;
}

.hero section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.hero h2{
    font-size: 2rem;
}
.Hero-img-Wrapper{
    display: flex;
    justify-content: flex-end;
}
.Hero-img-Wrapper img{
    width: 70%;
}
.Hero-img-Wrapper + div{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 23rem;
}
.Hero-img-Wrapper +div>div{
    display: flex;
}
.Hero-img-Wrapper + div button{
    align-self: center;
}
.hero strong{
    background: -webkit-linear-gradient(#8176af,#c0b7e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero .contact{
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(#3A3456,#211E2E);
    border-radius: 5rem;
    padding: 1.5rem;
}
.contact-item{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.contact-item>div:nth-of-type(2){
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-item small{
    font-size: 10px;
}


/* Styling for the About Section */

.about{
    display: flex;
    flex-wrap: wrap;
    align-content:space-between ;
    min-height: 80vh;
}
.about>*{
    flex-basis: 50%;
}
.about>div:nth-of-type(1){
   gap: 0;
}
.about>div:nth-of-type(2){
    align-self: flex-end;
}
.about>div:nth-of-type(2) img{
    width: 70%;
}
.about>div:nth-of-type(3){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about button{
    align-self: flex-start;
}


/* Styling The Service Section */

.service{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
}
.service>div:nth-of-type(1), .service>p{
    flex-basis: 50%;
}
.reasons{
 display: flex;
 gap: 1rem;
}
.reason{
    background-image: radial-gradient(#433D60,#211E2E);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
} 
.reason h3{
    font-weight: 700;
}
.reason button{
    padding: 1rem 3rem;
    border-radius: 1.5rem;
}


/* Styling for the tech Section */

.tech>header{
    position: relative;
}
.tech>header>div:nth-of-type(1){
    border-radius: 9rem;
    overflow: hidden;
    max-height: 300px;
}
.tech >header>img{
    /* width: 100%; */
    object-fit: cover;
}
.tech>header>h2{
    position: absolute;
    top: 7rem;
    right:30rem;
}
.tech>header>div:nth-of-type(2){
    position: absolute;
    top: 10rem;
    right: 35rem;
}
.tech>header>span{
    position: absolute;
    bottom: -16px;
    right: 50%;
    font-size: 1.5rem;
    background-image: linear-gradient(#8176AF,#C0B7E8);
    width: 3rem;
    height: 3rem;
    border-radius:50%;
    text-align: center;
    line-height: 3rem;
    color: gray;
}
.tech-Wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Styling for the process Section */
 
.process{
    display: flex;
    flex-wrap: wrap;
    height: 28rem;
    position: relative;
}
.process>div:nth-of-type(1), .process>p{
    flex-basis: 50%;
}
.Hydra-Method{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
.methods{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.method{
    display: flex;
}
.method>ul{
    align-self: center;
    font-weight: 700;
}
.Item{
    width: 10rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(#8176AF,#C0B7E8);
    color: #343045;
    box-shadow: 2px 2px  5px 4px #0b0a0e,-2px  2px 5px 4px #0b0a0e;
}