body{
    font-family: "Montserrat", sans-serif;
    background-color:  #302C42;
    color: white;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    max-width: 78.5rem;
}
a{
    color: white;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;       /* all section of the page has atleast one h2 heading so i had to generalise the style for the heading (utility for heading)*/
}
main>section{
    margin-bottom: 4rem;     
}
.btn{
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 16px;
    background-image: linear-gradient(#8176AF,#C0B7E8);
}
.h-span{
    font-size: 1.5rem;
    font-weight: 200;
}

/* Styling for the Hero Section */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-start{
    display: flex;
    gap: .5rem;
}
.nav-start>img:nth-of-type(2){
    align-self: center;
}
.nav-centre{
    display: flex;
    gap: 3rem;
    font-weight: 700;
    font-size: 11px;
}
.nav-end{
    display: flex;
    gap: 3rem;
    font-weight: 700;
    font-size: 11px;
}
.nav-end>li{
    padding: .5rem 1rem;
    border: 2px solid ;
    border-radius: 1.5rem;
}
.nav-end>li:nth-of-type(2){
    border: none;
    background-image: linear-gradient(#8176AF,#C0B7E8);
}
.nav-end>li:nth-of-type(2)>a{
    color: #343045;
}

.hero section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.hero h2{
    font-size: 2rem;
}
.Hero-img-Wrapper{
    display: flex;
    justify-content: flex-end;
}
.Hero-img-Wrapper img{
    width: 70%;
}
.Hero-img-Wrapper + div{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* max-width: 23rem; */
}
.Hero-img-Wrapper +div>div{
    display: flex;
}
.Hero-img-Wrapper + div button{
    align-self: center;
}
.hero strong{
    background: -webkit-linear-gradient(#8176af,#c0b7e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero .contact{
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(#3A3456,#211E2E);
    border-radius: 5rem;
    padding: 1.5rem;
}
.contact-item{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.contact-item>div:nth-of-type(2){
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-item small{
    font-size: 10px;
}


/* Styling for the About Section */

.about{
    display: flex;
    flex-wrap: wrap;
    align-content:space-between ;
    min-height: 80vh;
}
.about>*{
    flex-basis: 50%;
}
.about>div:nth-of-type(1){
   gap: 0;
}
.about>div:nth-of-type(2){
    align-self: flex-end;
}
.about>div:nth-of-type(2) img{
    width: 70%;
}
.about>div:nth-of-type(3){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about button{
    align-self: flex-start;
}


/* Styling The Service Section */

.service{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
}
.service>div:nth-of-type(1), .service>p{
    flex-basis: 50%;
}
.reasons{
 display: flex;
 gap: 1rem;
}
.reason{
    background-image: radial-gradient(#433D60,#211E2E);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
} 
.reason h3{
    font-weight: 700;
}
.reason button{
    padding: 1rem 3rem;
    border-radius: 1.5rem;
}


/* Styling for the tech Section */

.tech>header{
    position: relative;
}
.tech>header>div:nth-of-type(1){
    border-radius: 9rem;
    overflow: hidden;
    max-height: 300px;
}
.tech >header>img{
    /* width: 100%; */
    object-fit: cover;
}
.tech>header>h2{
    position: absolute;
    top: 7rem;
    right:30rem;
}
.tech>header>div:nth-of-type(2){
    position: absolute;
    top: 10rem;
    right: 35rem;
}
.tech>header>span{
    position: absolute;
    bottom: -16px;
    right: 50%;
    font-size: 1.5rem;
    background-image: linear-gradient(#8176AF,#C0B7E8);
    width: 3rem;
    height: 3rem;
    border-radius:50%;
    text-align: center;
    line-height: 3rem;
    color: gray;
}
.tech span:hover{
    cursor: pointer;
    color: white;
    font-weight: 700;
}
.tech-Wrapper{
    display: none;
    opacity: 0;
    transition: display 1s allow-discrete,
                opacity 1s ease-in;
    justify-content: space-between;
    align-items: center;
}


/* Styling for the process Section */
 
.process{
    opacity: 0;
    transition: display 1s allow-discrete,
                opacity 1s ease-in;
    display: none;
    flex-wrap: wrap;
    height: 28rem;
    position: relative;
}
.process>div:nth-of-type(1), .process>p{
    flex-basis: 50%;
}
.Hydra-Method{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
.methods{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.method{
    display: flex;
}
.method>ul{
    align-self: center;
    font-weight: 700;
}
.Item{
    width: 10rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(#8176AF,#C0B7E8);
    color: #343045;
    box-shadow: 2px 2px  5px 4px #0b0a0e,-2px  2px 5px 4px #0b0a0e;
}


/* styling for the opt in section */
.optIn{
    opacity: 0;
    transition: display 1s allow-discrete,
                opacity 1s ease-in;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
    border-radius: 3rem;
    background-image: radial-gradient(#403A5F,#211E2E);
}
.optIn>header{
    text-align: center;
}
.optIn>form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.optIn>form>.userInfo{
    flex-basis: 49.2%;
    color: white;
}
.userInfo>input{
    width: 100%;
    height: 3rem;
}
form input,form textarea{
    border: 2px solid white;
    padding-left: 1rem;
    background: inherit;
    border-radius: 3rem;
    color: white;
}
form input::placeholder,form textarea::placeholder{
    color: white;
}
form>div:nth-of-type(5),form>div:nth-of-type(6){
    flex-basis: 100%;
}
form>div:nth-of-type(5)>input{
    width: 100%;
    height: 3rem;
}
form>div:nth-of-type(6)>textarea{
    width: 100%;
    resize: none;
    padding: 1.5rem 0 0 1.5rem;
}
form>div:nth-of-type(7){
   margin: 0 auto;
}



/* Styling For The Footer */

.footer-Container{
    opacity: 0;
    transition: display 1s allow-discrete,
                opacity 1s ease-in;
    display: none;
    justify-content: space-between;
    /* transition: display 5s allow-discrete ease-out; */
}
.footer-Item{
    flex: 1;
}
.Footer-item-one ul,.Footer-item-two ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.Footer-item-three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social-Handles{
    display: flex;
    justify-content: space-between;
}
.Footer-item-three>button{
    align-self: flex-start;
}


/* Styling For The Active States */

.contact:hover{
    border: 2px solid blueviolet;
}
.contact-item>div:first-of-type:hover{
    border: 2px solid #856cf2;
}
a:hover,.contact-item h3:hover,.contact-item small:hover{
    transition: text-align 6s ease-out 4s;
    width: fit-content;
    border-bottom: 2px solid blueviolet;
    text-align: center;
}
.btn:hover{
    text-decoration:  2px underline blueviolet;
    border: 2px solid blueviolet;
}
.social-Handles li>img:hover{
    border: 2px solid blueviolet;
    border-radius: 50%;
}
.social-Handles a:hover{
    border: none;
}



/* Javascript Induced Style */

.dropdown{
    display: flex;
    opacity: 1;
}

@starting-style{
    opacity: 0;
}